
div:not(.timer){
    border:2px solid black;
    padding:10px;
    margin-bottom: 50px
}


#mainwrapper{
    width:600px;
    height:500px;
    text-align:center;
    margin:10px auto;
    border:none;
    position: relative;

}
#internalwrapper {
    width: 500px;
    height: 450px;
    margin: auto;
    text-align:center;

}

input[type="button"]{
    width:70px;
    height:30px;
    font:bold 15px tahoma;
    border-radius:20px;
    margin-top:5px;
}

.timer{
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 80%;
    left: 40%;
    color: red
}
